html,body{
    height: 100%;
}

body{
    /*background-color: #364dcc;*/
    background: linear-gradient(176deg, rgba(10,22,85,1) 32%, rgba(54,77,204,1) 100%);
    color: white;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.avatar{
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}